body {
    margin: 0;
    font-family: cursive;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.color-container {
    background-color: #48e;
    width: 300px;
    height: 150px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-shadow: 2px 2px 4px #0006;
    border: 2px solid #000;
    border-radius: 10px;
}